[commit]
    template = .gitmessage

[core]
    editor = code --wait

[init]
    defaultBranch = main

[push]
    default = simple

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk
    lg = log --oneline --graph --decorate --all
    amend = commit --amend --reuse-message=HEAD
    undo = reset --soft HEAD~1
    cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
