<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	
	<!-- INFO以上のレベルのログは『FILE』という名前の設定でログ出力。 -->
	<root level="INFO">
        <appender-ref ref="FILE" />
    </root>
    
    <!-- ↓『FILE』という名前の設定はこう。 -->
    <!-- 一定の規則にしたがってログファイルを切替（ローリング）。 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<!-- 時間でログファイルを切替。 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			
			<!-- ログ出力先フォルダーとログファイル名。 -->
			<!-- ログファイル名に日時情報を埋め込みたい時は %d{yyyyMMdd} を使う。 -->
			<!-- この設定の場合、日単位でログファイルが切り替わる。 -->
            <fileNamePattern>/home/takumi/todo-app/backend/logs\%d{yyyyMMdd}.log</fileNamePattern>
            
            <!-- ログファイル保存日数。 -->
            <maxHistory>30</maxHistory>
            
        </rollingPolicy>
		
        <encoder>
			<!-- ログフォーマット。 -->
			<!-- 『%』のあとの『-24』は『24文字でスペース埋め』という意味。 -->
			<!-- スペース埋めによって縦揃えができるので、人が読みやすいログにできる。 -->
            <pattern>%-24d{yyyy-MM-dd HH:mm:ss.SSS},%-6level,%-36thread,%-70logger{36},%msg%n</pattern>
        </encoder>
        
    </appender>
    
</configuration>
